<div class="col-md-12">
<div class="row">
	<h2 class="text-center"><u>Cadastrar Agente</u></h2>
</div>
<div class="row">

</div>
<br/>
<div class="row">
	
	<form>
		Nome:
		<input ng-model="agente.nome" class="form-control" />
		Data de contratacao:
		<input ng-model="agente.dtContratacao" class="form-control"/>
		CPF:
		<input ng-model="agente.cpf" class="form-control"/>
		Tempo de Servico:
		<input ng-model="agente.tempoServico" class="form-control" />
		<button ng-click="adicionarAgente(agente)" class="btn btn-primary" style="margin-top: 20px;">Adicionar Agente</button>
		<a href="#/" class="btn btn-danger" style="margin-top: 20px;">Cancelar</a>
	</form>
	
</div>
</div>